<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="paixao.lueny.curso_android_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cursoandroidkotlin"
        tools:targetApi="31">
        <activity
            android:name=".activity.compose.ActivityProductDetailsCompose"
            android:exported="false"
            android:label="@string/title_activity_product_details_compose"
            android:theme="@style/Theme.Cursoandroidkotlin" />
        <activity
            android:name=".activity.ActivityProductsList"
            android:exported="true"
            android:label="Lista de Produtos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityLogin"
            android:theme="@style/Theme.Cursoandroidkotlin.NoActionBar" />
        <activity
            android:name=".activity.ActivityUserProfile"
            android:label="Perfil do Usuario" />
        <activity
            android:name=".activity.ActivityProductDetails"
            android:label="Detalhes do Produto" />
        <activity
            android:name=".activity.ActivityProductForm"
            android:label="Formulário para Cadastro de Produtos" />
        <activity
            android:name=".activity.ActivityUserRegistration"
            android:label="Cadastrar usuario" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>